/* COLORES PARA MENU, BOTONES SECCIONES */
$azul_principal: #133246;
$violeta_principal: #664c79;
$verde_principal: #51a081;
$rojo_principal : #cc1728;
$blanco: #ffffff;
$git_hub: #171515;
$linkedin: #0e76a8;