/* TAMAÑO DE LETRA PARA LOS PRODUCTOS */
$titulo_chico: 13px;
$titulo_mediano: 15px;
$titulo_grande: 20px;


/* TAMAÑO DE LETRA PARA LOS PRECIOS */
$precio_chico: 15px;
$precio_mediano: 16px;

/* PESO DE LETRA */
$peso_letra : 700;